@model IEnumerable<Copa2022.Models.Consulta.TransacaoGrpOperacao>

@{
    ViewData["Title"] = "grpOperacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>grpOperacao</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.conta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.operacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.conta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.operacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
