@model IEnumerable<Copa2022.Models.Consulta.PivotMes>

@{
    ViewData["Title"] = "PivotMes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PivotMes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.conta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes12)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.conta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes12)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
