@model IEnumerable<Copa2022.Models.Transacao>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.contaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoOperacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    @{
        float totGeral = 0;
    }
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.contaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoOperacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total)
                </td>
                @{
                    float total = item.quantidade * item.valor;
                    totGeral = totGeral + total;
                }
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<h2>Total Geral = @totGeral.ToString("C2"); </h2>